<h1>Усі операції</h1>
<hr>

<% @operations.each do |operation| %>
  <div>
    <p><b>id:</b> <%= operation.id %></p>
    <p><b>Description:</b> <%= operation.description %></p>
    <p><b>Amount:</b> <%= operation.amount %></p>
    <p><b>Date:</b> <%= operation.odate %></p>
    <p><b>Category id:</b> <%= operation.category_id %></p>
    <p><b>Category name:</b> <%= @categories.find(operation.category_id).name %></p>
  </div>
  <hr>
<% end %>
