<div id="<%= dom_id category %>">
  <p>
    <strong><%= t('.name') %>:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong><%= t('.description') %>:</strong>
    <%= category.description %>
  </p>

</div>
