<%= form_with url: "/reports/index", method: :get do |f| %>
  <%= render partial: 'reports/date_choose' %>

  <div class="mb-2">
    <p class="mt-1 mb-0">Категорія</p>
    <%= select("operation", "category_id", Category.pluck(:name, :id),
               {:prompt => 'Категорія'}) %>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Згенерувати</button>
    <button type="reset" class="reset-button btn btn btn-info"> <%= link_to "Очистити", reports_index_path, {:style=>'', :class => "button-reset"} %></button>
    <%= f.submit "За категорією", formaction: reports_report_by_category_path, :class => 'btn btn-primary' %>
    <%= f.submit "За датою", formaction: reports_report_by_dates_path, :class => 'btn btn-primary'  %>
  </div>
<% end %>
