<div style="text-align: center">
  <h1><%= t('.expenses_by_date_from') %> <%= params["filter"]["date-from"] %> <%= t('.to') %> <%= params["filter"]["date-to"] %> <%= @category %></h1>
</div>

<div class="d-flex mb-20">
  <div class="table">
    <table class="report-table table table-striped">
      <thead>
        <tr>
          <th class="fw-bold"><%= link_to t('.category'), :sort => "category_name", params: request.query_parameters %> </th>
          <th class="fw-bold"><%= link_to t('.amount'), :sort => "total_amounts", params: request.query_parameters %> </th>
        </tr>
      </thead>
      <tbody>
      <% @categories_and_total_amount.each do |name, amount| %>
        <tr>
          <td><%= name %></td>
          <td><%= amount.round(2) %></td><td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td class="fw-bold"><%= t('.total') %>:</td>
          <td class="fw-bold"><%= @total_sum %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <%= render 'shared/pie_chart' %>
</div>

<%#= paginate @operations_paginated %>
