<div style="text-align: center">
    <h1><%= t('.expenses_by_category') %> <%= @category_name %></h1>
</div>

<%= render partial: 'shared/line_chart' %>

<%= render partial: "shared/operations_list" %>

<%= paginate @operations_paginated %>
