!!!
%html{ :lang => I18n.locale }
  %body
    %title FinanceApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", defer: true
    .container
      = render 'shared/header'
      = yield
