<div id="<%= dom_id operation %>">
  <p>
    <strong><%= t('.amount') %>:</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong><%= t('.odate') %>:</strong>
    <%= operation.odate %>
  </p>

  <p>
    <strong><%= t('.description') %>:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong><%= t('.category') %>:</strong>
    <%= operation.category_id %>
  </p>

</div>
