%div{:id => "#{dom_id operation}"}
  %p
    %strong
      = t('.amount')
      \:
    = operation.amount
  %p
    %strong
      = t('.odate')
      \:
    = operation.odate
  %p
    %strong
      = t('.description')
      \:
    = operation.description
  %p
    %strong
      = t('.category')
      \:
    = operation.category_id
