<p style="color: green"><%= notice %></p>

<h1><%= t('.operations') %></h1>

<div class="add-item">
  <button type="button" class="btn btn-primary mb-2"><%= link_to t('.new_operation'), new_operation_path, class: "button-reset light-text" %></button>
</div>

<%= render partial: "shared/operations_list" %>

<%= paginate @operations %>
