<p style="color: green"><%= notice %></p>

<h1>Operations</h1>

<div class="add-item">
  <button type="button" class="btn btn-primary mb-2"><%= link_to "New operation", new_operation_path, class: "button-reset light-text" %></button>
</div>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "Show this operation", operation %>
    </p>
  <% end %>
</div>

<%= paginate @operations %>
